





<form (submit)="onSubmit()" #f="ngForm">

  <div class="form-group">
    <label for="email-input">Email address</label>
    <input
            name="email"
            type="email"
            class="form-control"
            id="email-input"
            aria-describedby="emailHelp"
            placeholder="Enter email"

            [(ngModel)]="loginData.email"
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            required>
  </div>
  <div class="form-group">
    <label for="password-input">Password</label>
    <input
            name="password"
            type="password"
            class="form-control"
            id="password-input"
            placeholder="Password"

            [(ngModel)]="loginData.password"
            required>
  </div>

  <div class="form-group float-right">
    <input type="submit" class="btn btn-primary"  [disabled]="!(f.valid)" value="Login"/>
  </div>

</form>


