<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <span class="navbar-brand">Navbar</span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ">

      <!-- User not logged in -->

      <li *ngIf="! (authService.userLoggedIn$ | async)" class="nav-item">
        <a (click)="openLoginModal()" class="nav-link">Login</a>
      </li>

      <li *ngIf="! (authService.userLoggedIn$ | async)" class="nav-item">
        <a (click)="openRegisterModal()" class="nav-link">Register</a>
      </li>

      <!-- User is logged in -->



      <li  *ngIf="authService.userLoggedIn$ | async" class="nav-item">
        <a class="nav-link">Profile</a>
      </li>

      <li  *ngIf="authService.userLoggedIn$ | async" class="nav-item">
        <a class="nav-link" (click)="authService.signOut()">Logout</a>
      </li>



    </ul>

  </div>
</nav>

<!--Modals-->


<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Login</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login-form>

        </app-login-form>
      </div>
    </div>
  </div>
</div>